Lists

In [2]:
a=[1,4,5,7,8,-2,0,1]
print(a[2])
print(a[4])

5
8

In [24]:
a_sorted = sorted(a, reverse = True)
print(a_sorted)
print(a)

[8, 7, 5, 4, 1, 1, 0, -2]
[1, 4, 5, 7, 8, -2, 0, 1]

In [28]:
print(a_sorted[0:3])
print(a_sorted[1:6])

[8, 7, 5]
[7, 5, 4, 1, 1]

In [29]:
a_sorted.index(5)

2

In [31]:
del a_sorted[2:3]
print(a_sorted)

[8, 7, 1, 1, 0, -2]

In [35]:
b=['grapes','Potatoes','tomatoes','Orange','Lemon','Broccoli','Carrot','Sausages']

In [36]:
b_sorted=sorted(b)
print(b_sorted)
print(b)

['Broccoli', 'Carrot', 'Lemon', 'Orange', 'Potatoes', 'Sausages', 'grapes', 'tomatoes']
['grapes', 'Potatoes', 'tomatoes', 'Orange', 'Lemon', 'Broccoli', 'Carrot', 'Sausages']

In [38]:
c=a[0:3]+b[3:6]
print(c)

[1, 4, 5, 'Orange', 'Lemon', 'Broccoli']

Sets

In [46]:
a1=['Cookies','Chocolate',8,True,-3,-5,'Chocolate',8,False,8]
print(a1)

['Cookies', 'Chocolate', 8, True, -3, -5, 'Chocolate', 8, False, 8]

In [47]:
b1=[8,True,10,14,'Chocolate','Milk','Jelly',True,False,True]
print(b1)

[8, True, 10, 14, 'Chocolate', 'Milk', 'Jelly', True, False, True]

In [48]:
set_a=set(a1)
set_b=set(b1)
print(set_a)
print(set_b)

{False, True, 8, 'Cookies', 'Chocolate', -5, -3}
{False, True, 'Milk', 'Jelly', 8, 10, 14, 'Chocolate'}

In [50]:
union_ab=set_a.union(set_b)
print(union_ab)

{False, True, 'Milk', 'Jelly', 8, 10, 14, 'Cookies', 'Chocolate', -5, -3}

In [52]:
intersection_ab=set_a.intersection(set_b)
print(intersection_ab)

{False, True, 'Chocolate', 8}

In [54]:
union_ab.update({'Kit-Kat', 'Oreo'})
print(union_ab)

{False, True, 'Milk', 'Jelly', 8, 10, 14, 'Kit-Kat', 'Cookies', 'Chocolate', -5, -3, 'Oreo'}

In [56]:
new_set=union_ab|intersection_ab
print(new_set)

{False, True, 'Milk', 'Jelly', 8, 10, 14, 'Kit-Kat', 'Cookies', 'Chocolate', -5, -3, 'Oreo'}

In [57]:
'Chocolate' in new_set

True

In [62]:
new_set.discard('Oreo')
print(new_set)

{False, True, 'Milk', 'Jelly', 8, 10, 14, 'Kit-Kat', 'Cookies', 'Chocolate', -5, -3}

Tuples

In [81]:
t1=(1,True,'a',-2,'Anna')
tu2=list(t1)
tu2.pop(True)
t1=tuple(tu2)
print(t1)

(1, 'a', -2, 'Anna')

In [82]:
t2=(1,2,3,4,5)

In [85]:
t3=t1[0:2]+t2[0:3]
print(t3)

(1, 'a', 1, 2, 3)

In [87]:
print(t3[2])

1

In [88]:
t4=[(1,3,5),(8,9),('Anna','Bob','Alice')]
t4[0][1]

3